@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(./font.css);

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

<<<<<<< HEAD
=======
body{
  /* background: #003b2f; */
}

>>>>>>> 3edbe5d2053e40520d83371cfe0e985aee79ab2b
.hero-text{
  font-family: "GTSectraFine";
}
.new-text h1{
  font-family: "GTSectraFine";
}
